@use "../abstracts/" as *;

.list {
  padding-inline-start: $size-6;
  & li {
    padding-block: $size-1;
    padding-inline-start: $size-4;

    //centers the bulletpoints
    & div {
      display: inline-block;
      vertical-align: middle;
    }

    &::marker {
      color: $color-primary-500;
      font-weight: $font-weight-bold;
    }

    & strong {
      font-weight: $font-weight-semi-bold;
    }
  }
}
