@font-face {
  font-family: "Young Serif";
  src: url("/fonts/youngserif-regular-webfont.woff2") format("woff2-variations");
  src: url("/fonts/youngserif-regular-webfont.woff2") format("woff2")
    tech("variations");
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}
