@use "../abstracts/" as *;

body {
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-size: $body-font-size;
  color: $body-text-color;
  background-color: $body-background-color;
  line-height: $body-line-height;
  @include mq(small) {
    padding-block: clamp(0rem, -2.817rem + 12.019vw, $size-13);
  }
}

strong {
  font-weight: $font-weight-bold;
}
