$-ff-sans: "Outfit", sans-serif;
$-ff-serif: "Young Serif", serif;

$font-family-base: $-ff-sans;
$font-family-accent: $-ff-serif;

$font-sizes: (
  "small": (
    "900": clamp(2.15rem, 9vw, 2.25rem),
    "800": 1.75rem,
    "700": clamp(1.15rem, 4vw, 1.25rem),
    "600": clamp(0.94rem, 4vw, 1rem),
    "500": 1.125rem,
    "400": 1rem,
    "300": 0.925rem,
    "200": 0.875rem,
  ),
  "medium": (
    "900": 2.5rem,
    "800": 1.75rem,
    "700": 1.25rem,
    "600": 1rem,
    "500": 1.125rem,
    "400": 1rem,
    "300": 0.925rem,
    "200": 0.875rem,
  ),
);

$font-size-600: var(--fs-600);
$font-size-700: var(--fs-700);
$font-size-800: var(--fs-800);
$font-size-900: var(--fs-900);

$-fw-400: 400;
$-fw-600: 600;
$-fw-700: 700;

$font-weight-default: $-fw-400;
$font-weight-semi-bold: $-fw-600;
$font-weight-bold: $-fw-700;
